@mixin font-face($family, $dir, $filename, $weight: 400, $style: normal) {
  @font-face {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    src: url("#{$dir}/#{$filename}.woff2") format("woff2"),
      url("#{$dir}/#{$filename}.otf") format("opentype");
  }
}

@mixin font(
  $family: null,
  $style: null,
  $size: null,
  $weight: null,
  $height: null,
  $spacing: null
) {
  font-family: $family;
  font-style: $style;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}
