.quick-links__title {
  display: inline-block;
  @include font($weight: 500, $size: 18px, $height: 1);

  &:after {
    content: "";
    display: block;
    width: 95%;
    height: 2px;
    margin-top: 2px;
    background-color: currentColor;
  }
}

.quick-links__list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  margin-top: 34px;

  @include font($size: 14px, $height: 1);
}
