*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

img {
  object-fit: cover;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
}
