*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  object-fit: cover;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: #fff;
}
