.btn {
  filter: drop-shadow($buttonShadow);

  &--prev,
  &--next {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    visibility: hidden;
    background: url($buttonPrevImage) left 20% center / 20% no-repeat;
  }
  &--next {
    background: url($buttonNextImage) right 20% center / 20% no-repeat;
  }

  &--progress {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 0.2rem solid $buttonColor;
    transition: background-color $animationHover;

    &:hover {
      background-color: $buttonColor;
    }
  }
}
