$accentColor: #42a779;
$accentActiveColor: hsl(153, 43%, 50%);
$errorColor: #da2c38;

$primaryFont: "Archivo Narrow", sans-serif;
$headerFont: Oswald, sans-serif;
$primaryTextColor: #525252;
$placeholderColor: #dbdbdb;

$bodyBgColor: #f3f3f3;
$primaryBgColor: #fefefe;
$secondaryBgColor: #ededed;

$borderColor: #dbdbdb;
$borderRadiusM: 4px;
$borderRadiusL: 8px;
$borderDefault: 2px solid $borderColor;
$borderAccent: 2px solid $accentColor;

$transitionDefault: 0.25s;
